.blog{
    background-color: lightcoral ;
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.blog h2{
    text-decoration: overline;
}

.blog img{
    width: 100%;
    border: 15px solid white;
    border-radius: 30px;
}